
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --cloud: #f4f4fd;
    --slate: #434455;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--cloud);
    color: var(--slate);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--dairy);
    padding: 50px;
    padding-left: 24px;
    border-radius: 20px;
    width: 408px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16);
}

.container>a {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--iris);
    text-decoration: none;
    font-size: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container>a:hover {
    color: var(--ocean);
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 8px;
}

.feedback-form input,
.feedback-form textarea {
    margin-top: 4px;
    width: 100%;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    border-color: var(--iris);
}

.feedback-form textarea {
    height: 120px;
    resize: none;
}

.feedback-form button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 16px auto 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form button:hover {
    background-color: var(--ocean);
}