@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 50px;
    }
}

@media (max-width: 600px) {
    .gallery {
        margin: 0 50px;
        grid-template-columns: 1fr;
    }
}

.gallery {
    max-width: 1200px;
    min-width: 324;
    list-style: none;
    margin: 0 auto;
    padding: 0 48px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gallery-item {
    overflow: hidden;
}

.gallery-link {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-link:hover .gallery-image {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.gallery-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 40px 48px;
}

.back {
    font-size: clamp(40px, 5vw, 80px);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #4e75ff;
    transition: all 0.3s ease;
    display: inline-block;
    line-height: 1;
}

.back:hover {
    color: #404bbf;
    transform: translateX(-10px) scale(1.1);
}